* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
}

#intro {
    padding-top: 9%;
    padding-left: 6%;
    color: #f2f2f2;
}

.name {
    padding-top: 1%;
    padding-left: 5%;
    font-size: 250%;
    color: #f2f2f2;
}

.headerimg {
    /* width: 300px;
    height: 600px;
   background-image: url('../img/bramwedstrijd.jpg');
   background-repeat: no-repeat;
   background-position-x: 550%;
   background-position-y: -10%;
   border-radius: 50px; */
}

.headerimg img {
    border-radius: 30%;
    margin-left: -10%;
    margin-top: -5%;
    border-color: #544343;
    border-style: solid;
}

.ml11 {
    font-weight: 700;
    font-size: 3.5em;
  }
  
  .ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
  }
  
  .ml11 .line1 { 
    top: 0; 
    left: 0;
  }
  
  .ml11 .name {
    display: inline-block;
    line-height: 1em;
  }

  .taskbar {
    background-color: #544343;
    color: #f2f2f2;
    margin-top: 5%;
  }

  .special {
    margin-left: 0%;
    width: 100%;
  }

  body {
    background-color: #626D58;
  }